/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f7fc;
  color: #333;
}

/* Header */
header {
  background: linear-gradient(135deg, #0f172a, #2563eb);
  color: white;
  text-align: center;
  padding: 35px 20px;
}

header h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

header p {
  font-size: 16px;
}

/* Main Container */
.container {
  width: 90%;
  max-width: 800px;
  margin: 40px auto;
}

/* Timer */
.timer-box {
  background: #dc2626;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* Quiz Box */
.quiz-box {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

#question-number {
  color: #2563eb;
  margin-bottom: 20px;
}

#question {
  margin-bottom: 25px;
  line-height: 1.6;
}

/* Options */
.option {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  border: 2px solid #dbe4ff;
  border-radius: 10px;
  background: white;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.option:hover {
  background: #eff6ff;
}

.option.selected {
  background: #dbeafe;
  border-color: #2563eb;
}

/* Button */
#next-btn,
.retry-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 14px 25px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

#next-btn:hover,
.retry-btn:hover {
  background: #1d4ed8;
}

/* Result */
#result {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.review {
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.correct {
  color: green;
  font-weight: bold;
}

.wrong {
  color: red;
  font-weight: bold;
}

.hidden {
  display: none;
}

/* Mobile Design */
@media (max-width: 600px) {
  header h1 {
    font-size: 25px;
  }

  .timer-box {
    font-size: 18px;
  }

  #question {
    font-size: 18px;
  }

  .option {
    font-size: 15px;
  }
}